<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="Email.Smtp.Host" value="smtp.gmail.com"/>
    <add key="Email.Smtp.Port" value="587"/>
    <add key="Email.Smtp.Username" value="andabondapi@gmail.com"/>
    <add key="Email.Smtp.Password" value="J@nie192"/>
    <add key="Email.Smtp.EnableSsl" value="true"/>
    <add key="Recipients" value="Delmarie@comcorp.co.za; smoonsamy@comcorp.co.za; cvanvollenstee@cfaktor.com; magda@cfaktor.com"/>

    <add key ="ChannelCode" value="A3990331-8A45-4629-84D3-E00ABC58CA8E"/>
    <add key ="ChannelPassword" value="90309592-5AB2-46F0-89AC-1CF5DAF38E75"/>
    <add key ="ChannelUsername" value="3D071789-F701-43D4-AB49-98BC0B63F82B"/>
    <add key ="OriginatorBranchId" value="11787"/>
    <add key ="OriginatorId" value="10251"/>
    <add key ="Modulus" value="kVBsTDIEVMolw4DHZ/fGyOQfECRET70uMgO9Li4oWsOs4A1jy9CYBrzpzzjUZuKuGvt5jkz9wGr1DMz5CbnAeGZF0Ti9wIp0WpfxhgMASsMgau/kGGI8QXra4P/ZSkWYQZ/Lx3bwRbkdlbOyn8RL/Ce1XyjAn2eGws5cwG21LpM="/>
    <add key ="Exponent" value="AQAB"/>
    <!--Value can be as follows localhost,127.0.0.1, 182.168.3.4, 178.34.222.11 and * is to allow all-->
    <add key ="WhiteListIp" value="*"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Submit.Service">
          <security mode="Transport" />
        </binding>
        <binding name="Submit.ServiceSoap1" />
        <binding name="SubmitStatus.Service">
          <security mode="Transport" />
        </binding>
        <binding name="SubmitStatus.ServiceSoap1" />
        <binding name="ValidationErrors.Service">
          <security mode="Transport" />
        </binding>
        <binding name="ValidationErrors.ServiceSoap1" />
        <binding name="Submission.ErrorsService">
          <security mode="Transport" />
        </binding>
        <binding name="Submission.ErrorsServiceSoap1" />
        <binding name="Feedback.Service">
          <security mode="Transport" />
        </binding>
        <binding name="Feedback.ServiceSoap1" />
        <binding name="Live.RepliesService">
          <security mode="Transport" />
        </binding>
        <binding name="Live.RepliesServiceSoap1" />
        <binding name="Lookup.DataService">
          <security mode="Transport" />
        </binding>
        <binding name="Lookup.DataServiceSoap1" />
        <binding name="LookupDataServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Template.Service">
          <security mode="Transport" />
        </binding>
        <binding name="TemplateService.Soap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmitService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Submit.Service"
        contract="SubmitService.SubmitServiceSoap" name="Submit.ServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmitStatusService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SubmitStatus.Service"
        contract="SubmitStatusService.SubmitStatusServiceSoap" name="SubmitStatus.ServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/ValidationErrorsService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ValidationErrors.Service"
        contract="ValidationErrorService.ValidationErrorsServiceSoap"
        name="ValidationErrors.ServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmissionErrorsService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Submission.ErrorsService"
        contract="SubmissionErrorService.SubmissionErrorsServiceSoap"
        name="SubmissionErrorsServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.Webservices/FeedbackService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Feedback.Service"
        contract="FeedbackService.FeedbackServiceSoap" name="Feedback.ServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/LiveRepliesService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Live.RepliesService"
        contract="LiveRepliesService.LiveRepliesServiceSoap" name="Live.RepliesServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/LookupDataService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Lookup.DataService"
        contract="LookupDataService.LookupDataServiceSoap" name="Lookup.DataServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/TemplateService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Template.Service"
        contract="TemplateService.TemplateServiceSoap" name="TemplateServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
