<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Email.Smtp.Host" value="smtp.gmail.com"/>
    <add key="Email.Smtp.Port" value="25"/>
    <add key="Email.Smtp.Username" value="andabondapi@gmail.com"/>
    <add key="Email.Smtp.Password" value="J@nie192"/>
    <add key="Email.Smtp.EnableSsl" value="true"/>
    <add key="Recipients" value="Delmarie@comcorp.co.za; smoonsamy@comcorp.co.za; cvanvollenstee@cfaktor.com"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Submit.Service">
          <security mode="Transport" />
        </binding>
        <binding name="Submit.ServiceSoap1" />
        
        <binding name="SubmitStatus.Service">
          <security mode="Transport" />
        </binding>
        <binding name="SubmitStatus.ServiceSoap1" />
        
        <binding name="ValidationErrors.Service">
          <security mode="Transport" />
        </binding>
        <binding name="ValidationErrors.ServiceSoap1" />
        
        <binding name="Submission.ErrorsService">
          <security mode="Transport" />
        </binding>
        <binding name="Submission.ErrorsServiceSoap1" />
        
        <binding name="Feedback.Service">
          <security mode="Transport" />
        </binding>
        <binding name="Feedback.ServiceSoap1" />
        
        <binding name="Live.RepliesService">
          <security mode="Transport" />
        </binding>
        <binding name="Live.RepliesServiceSoap1" />
        
        <binding name="Lookup.DataService">
          <security mode="Transport" />
        </binding>
        <binding name="Lookup.DataServiceSoap1" />
        
        <binding name="LookupDataServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Template.Service">
          <security mode="Transport" />
        </binding>
        <binding name="TemplateService.Soap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmitService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Submit.Service"
        contract="SubmitService.SubmitServiceSoap" name="Submit.ServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmitStatusService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SubmitStatus.Service"
        contract="SubmitStatusService.SubmitStatusServiceSoap" name="SubmitStatus.ServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/ValidationErrorsService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ValidationErrors.Service"
        contract="ValidationErrorService.ValidationErrorsServiceSoap"
        name="ValidationErrors.ServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/SubmissionErrorsService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Submission.ErrorsService"
        contract="SubmissionErrorService.SubmissionErrorsServiceSoap"
        name="SubmissionErrorsServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/FeedbackService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Feedback.Service"
        contract="FeedbackService.FeedbackServiceSoap" name="Feedback.ServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/LiveRepliesService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Live.RepliesService"
        contract="LiveRepliesService.LiveRepliesServiceSoap" name="Live.RepliesServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/LookupDataService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Lookup.DataService"
        contract="LookupDataService.LookupDataServiceSoap" name="Lookup.DataServiceSoap" />
      <endpoint address="https://uatswitch.comcorp.co.za/UnifiedPlatform.WebServices/TemplateService.asmx"
        binding="basicHttpBinding" bindingConfiguration="Template.Service"
        contract="TemplateService.TemplateServiceSoap" name="TemplateServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>